* {
    margin:0;
    padding:0;
}

body, html {
    background-color: #73242A;
    height:100%;
    box-sizing: border-box;
}

html {
    border: 1rem solid #73242A;
}


#content {
    color: #D9C077;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100%;
}

#nav {
    width:100%;
    height:30%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/bgSlate.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    border: 0.25rem solid #D9C077;
    box-sizing: border-box;
}

#mainLogo {
    max-height:100%;
    min-height: 0;
}

#links {
    width:100%;
    display:flex;
    justify-content: space-around; 
    align-items: center;  
    list-style-type: none;
    padding:1rem 0;
    background-color: #000000a2;
    box-sizing: border-box;
}

li {
    width: 25%;
    text-align: center;
}


#active {
    width:100%;
    height:70%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#colors {
color: #73242A;
color: #D9C077;
}