/* * {
    margin: 0;
    padding: 0;
} */

body,
html {
    background-color: #73242a;
    height: 100%;
    box-sizing: border-box;
    font-family: "Caveat", cursive;
}

html {
    border: 1rem solid #73242a;
    font-size: 18px;
}

#content {
    color: #d9c077;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#nav {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/bgSlate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #d9c077;
    box-sizing: border-box;
}

#mainLogo {
    max-height: 100%;
    min-height: 0;
}

#links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    background-color: #000000a2;
    box-sizing: border-box;
    margin-top: 0;
}

ul {
    padding: 0;
}

li {
    width: 25%;
    text-align: center;
    padding: 1rem 0;
}

li:hover {
    background-color: #000000ce;
}

#active {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menuItems {
    /* width: 90%; */
    border: 2px solid #d9c077;
    /* border-radius: 20px; */
    background-image: url("https://images.rawpixel.com/image_600/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvbnMxMzY2MS1pbWFnZS1rd3Z5ZHFoZi5qcGc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.menuItem {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    align-items: center;
    justify-items: center;
    grid-gap: 1rem;
    padding: 1rem;
    background-color: rgba(37, 37, 37, 0.75);
}

.menuPic {
    max-width: 50%;
    border: 1px solid #d9c077;
    border-radius: 20px;
    background-color: #73242b75;
    padding: 1rem;
}

h3 {
    font-family: "Caveat", cursive;
}

.itemDescription {
    text-align: center;
    font-family: "Caveat", cursive;
}

.itemPrice {
    font-family: "Caveat", cursive;
    justify-self: center;
    text-decoration: underline;
}

#credit {
    text-align: center;
    background-color: rgba(37, 37, 37, 0.75);
}

#credit a {
    color: grey;
    text-decoration: none;
    font-size: 0.5rem;
}

#locationCards {
    border: 2px solid #d9c077;
    /* border-radius: 20px; */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1546636889-ba9fdd63583e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1915&q=80");
}

.locationCard {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(37, 37, 37, 0.75);
}

iframe {
    border-radius: 20px;
    max-width: 100%;
    margin: 2rem;
}

.locationInfo {
    text-align: center;
}

#aboutUs {
    text-align: center;
    border: 2px solid #d9c077;
    /* border-radius: 20px; */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1546636889-ba9fdd63583e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1915&q=80");
}

#aboutContent {
    background-color: rgba(37, 37, 37, 0.75);
}

#aboutContent h3,
#aboutContent p {
    margin: 0;
    padding: 1rem;
}

#aboutContent img {
    border: 2px solid #d9c077;
}

#orderOnline {
    text-align: center;
    border: 2px solid #d9c077;
    /* border-radius: 20px; */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1548695607-9c73430ba065?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1625&q=80");
}

#orderContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(37, 37, 37, 0.75);
}

#orderContent img {
    max-width: 5rem;
    border-radius: 1rem;
    margin: 2rem;
}

footer {
    text-align: center;
    border: 2px solid #d9c077;
    border-bottom: 0;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.75);
    background-image: url("https://coastalphysio.ca/wp-content/uploads/2016/11/footer-texture-bg.jpg");
    background-size: cover;
}

footer a {
    color: #d9c077;
}

#colors {
    color: #73242a;
    color: #d9c077;
}
